[data-v-09a1a1ac] .van-field__left-icon {
    padding: 0;
    margin: 0;
    padding-left: 16px
}

.input-left[data-v-09a1a1ac] {
    height: 100%;
    display: flex;
    align-items: center
}

[data-v-09a1a1ac] .van-field__right-icon {
    padding: 0;
    margin: 0;
    padding-right: 16px
}

.input-right[data-v-09a1a1ac] {
    height: 100%;
    display: flex;
    align-items: center
}

.vant-select[data-v-09a1a1ac] {
    height: 100%;
    font-size: 14px;
    color: #fff;
    background-color: #1c1c1e;
    border: none
}

.part-line-left[data-v-09a1a1ac] {
    height: 16px;
    width: 1px;
    background-color: #fff;
    margin-left: 16px
}

.part-line-right[data-v-09a1a1ac] {
    height: 16px;
    width: 1px;
    background-color: #fff;
    margin-right: 16px
}

[data-v-09a1a1ac] .van-cell,[data-v-09a1a1ac] .van-form {
    background-color: #000;
    padding: 0
}

[data-v-09a1a1ac] .van-cell {
    display: block;
    margin-bottom: 16px;
    overflow: visible
}

[data-v-09a1a1ac] .van-cell:after {
    border-bottom: none
}

[data-v-09a1a1ac] .van-field {
    border: 1px solid #1c1c1e;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 42px;
    background-color: #1c1c1e
}

[data-v-09a1a1ac] .van-field__error-message {
    background-color: #000
}

[data-v-09a1a1ac] .van-field__error-message,[data-v-09a1a1ac] .van-field__label {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    position: absolute;
    top: -26px;
    left: 0
}

[data-v-09a1a1ac] .van-field__label {
    color: #fff
}

[data-v-09a1a1ac] .van-field__value {
    position: static
}

[data-v-09a1a1ac] .van-field__body {
    box-sizing: border-box
}

[data-v-09a1a1ac] .van-field__control {
    border-radius: 8px;
    padding: 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: #fff
}

[data-v-09a1a1ac] .van-field__control::-moz-placeholder {
    opacity: .2;
    color: #fff
}

[data-v-09a1a1ac] .van-field__control::placeholder {
    opacity: .2;
    color: #fff
}

[data-v-09a1a1ac] .van-field--error {
    border: 1px solid #e2231a
}

[data-v-09a1a1ac] .van-field--error .van-field__control::-moz-placeholder {
    color: #fff
}

[data-v-09a1a1ac] .van-field--error .van-field__control::placeholder {
    color: #fff
}

[data-v-09a1a1ac] .van-field--error input {
    color: #fff
}

[data-v-09a1a1ac] input {
    height: 48px;
    background-color: #1c1c1e
}

[data-v-09a1a1ac] .van-button {
    height: 50px;
    font-size: 15px
}

[data-v-09a1a1ac] .van-button--block {
    border-radius: 8px
}

[data-v-09a1a1ac] .van-button--primary {
    background-color: #07c160;
    border: 1px solid #07c160
}

[data-v-09a1a1ac] .van-button--danger {
    background-color: #fa5151;
    border: 1px solid #fa5151
}

[data-v-09a1a1ac] .van-button--disabled {
    background-color: #939395;
    border: 1px solid #939395
}

[data-v-09a1a1ac] .van-button--plain {
    background-color: transparent;
    color: #fff
}

[data-v-09a1a1ac] .van-uploader {
    height: 134px;
    width: 100%
}

[data-v-09a1a1ac] .van-uploader__wrapper {
    width: 100%;
    height: 100%
}

[data-v-09a1a1ac] .van-uploader__preview {
    width: 100%;
    margin: 0;
    height: 100%
}

[data-v-09a1a1ac] .van-image__img,[data-v-09a1a1ac] .van-uploader__preview-image {
    width: 100%;
    height: 100%
}

[data-v-09a1a1ac] .van-uploader__upload {
    height: 100%;
    width: 100%;
    background-color: #1c1c1e
}

[data-v-09a1a1ac] .van-uploader__input,[data-v-09a1a1ac] .van-uploader__input-wrapper {
    height: 100%;
    width: 100%
}

[data-v-09a1a1ac] .van-picker {
    background-color: #1c1c1e
}

[data-v-09a1a1ac] .van-picker__mask {
    background-image: none
}

[data-v-09a1a1ac] .van-ellipsis,[data-v-09a1a1ac] .van-picker-column__item--selected {
    color: #fff
}

.van-toast--success[data-v-09a1a1ac] {
    color: #07c160
}

.van-toast[data-v-09a1a1ac] {
    background-color: #000000b2;
    width: auto
}

.van-toast__icon[data-v-09a1a1ac] {
    font-size: 32px
}

.van-dialog[data-v-09a1a1ac] {
    background-color: #252525;
    color: #fff
}

.van-dialog__message[data-v-09a1a1ac] {
    color: #fff
}

.van-dialog__footer[data-v-09a1a1ac] {
    border-top: .33px solid #545458;
    background-color: #252525d1
}

.van-dialog__footer .van-button[data-v-09a1a1ac] {
    background-color: #252525d1
}

.van-dialog__footer .van-dialog__cancel[data-v-09a1a1ac] {
    color: #fff
}

.van-dialog__footer .van-dialog__confirm[data-v-09a1a1ac] {
    color: #07c160
}

[class*=van-hairline][data-v-09a1a1ac]:after {
    border: none
}

[data-v-09a1a1ac] input:-internal-autofill-previewed,[data-v-09a1a1ac] input:-internal-autofill-selected {
    -webkit-text-fill-color: #fff!important;
    transition: background-color 5000s ease-in-out 0s!important
}

.van-popup--bottom[data-v-09a1a1ac] {
    width: var(--ex-max-width);
    left: 50%;
    transform: translate(-50%)
}

.van-popup--center[data-v-09a1a1ac] {
    width: calc(var(--ex-max-width) - 10vw);
    box-sizing: border-box;
    background: #1c1c1e;
    padding: 24px 16px
}

@media (min-width: 480px) {
    .van-popup--center[data-v-09a1a1ac] {
        width:calc(var(--ex-max-width) - 48px)!important;
        padding: 24px 16px;
        top: 50%!important;
        left: 50%!important;
        right: auto
    }
}

.list[data-v-09a1a1ac] {
    background-color: #1c1c1e;
    padding: 16px;
    height: 100%
}

.list-title[data-v-09a1a1ac] {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
    color: #fff;
    margin-bottom: 20px
}

.list-title div[data-v-09a1a1ac]:first-child {
    width: 100px;
    text-align: left
}

.list-title div[data-v-09a1a1ac]:nth-child(2) {
    flex: 1
}

.list-title div[data-v-09a1a1ac]:last-child {
    width: 100px
}

.list-item[data-v-09a1a1ac] {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #fff;
    cursor: pointer
}

.list-item[data-v-09a1a1ac]:last-child {
    margin-bottom: 0
}

.list-item-name[data-v-09a1a1ac] {
    width: 100px;
    display: flex;
    align-items: center
}

.list-item-name .type-img[data-v-09a1a1ac] {
    width: 20px;
    height: 20px;
    margin-right: 4px
}

.list-item-name .type-img .img[data-v-09a1a1ac] {
    width: 100%;
    height: 100%
}

.list-item-name .name[data-v-09a1a1ac] {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.list-item-price[data-v-09a1a1ac] {
    flex: 1
}

.list-item-change[data-v-09a1a1ac] {
    width: 100px
}

.list-item .rise[data-v-09a1a1ac] {
    color: #07c160
}

.list-item .drop[data-v-09a1a1ac] {
    color: #fa5151
}

[data-v-0907bcc6] .van-field__left-icon {
    padding: 0;
    margin: 0;
    padding-left: 16px
}

.input-left[data-v-0907bcc6] {
    height: 100%;
    display: flex;
    align-items: center
}

[data-v-0907bcc6] .van-field__right-icon {
    padding: 0;
    margin: 0;
    padding-right: 16px
}

.input-right[data-v-0907bcc6] {
    height: 100%;
    display: flex;
    align-items: center
}

.vant-select[data-v-0907bcc6] {
    height: 100%;
    font-size: 14px;
    color: #fff;
    background-color: #1c1c1e;
    border: none
}

.part-line-left[data-v-0907bcc6] {
    height: 16px;
    width: 1px;
    background-color: #fff;
    margin-left: 16px
}

.part-line-right[data-v-0907bcc6] {
    height: 16px;
    width: 1px;
    background-color: #fff;
    margin-right: 16px
}

[data-v-0907bcc6] .van-cell,[data-v-0907bcc6] .van-form {
    background-color: #000;
    padding: 0
}

[data-v-0907bcc6] .van-cell {
    display: block;
    margin-bottom: 16px;
    overflow: visible
}

[data-v-0907bcc6] .van-cell:after {
    border-bottom: none
}

[data-v-0907bcc6] .van-field {
    border: 1px solid #1c1c1e;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 42px;
    background-color: #1c1c1e
}

[data-v-0907bcc6] .van-field__error-message {
    background-color: #000
}

[data-v-0907bcc6] .van-field__error-message,[data-v-0907bcc6] .van-field__label {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    position: absolute;
    top: -26px;
    left: 0
}

[data-v-0907bcc6] .van-field__label {
    color: #fff
}

[data-v-0907bcc6] .van-field__value {
    position: static
}

[data-v-0907bcc6] .van-field__body {
    box-sizing: border-box
}

[data-v-0907bcc6] .van-field__control {
    border-radius: 8px;
    padding: 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: #fff
}

[data-v-0907bcc6] .van-field__control::-moz-placeholder {
    opacity: .2;
    color: #fff
}

[data-v-0907bcc6] .van-field__control::placeholder {
    opacity: .2;
    color: #fff
}

[data-v-0907bcc6] .van-field--error {
    border: 1px solid #e2231a
}

[data-v-0907bcc6] .van-field--error .van-field__control::-moz-placeholder {
    color: #fff
}

[data-v-0907bcc6] .van-field--error .van-field__control::placeholder {
    color: #fff
}

[data-v-0907bcc6] .van-field--error input {
    color: #fff
}

[data-v-0907bcc6] input {
    height: 48px;
    background-color: #1c1c1e
}

[data-v-0907bcc6] .van-button {
    height: 50px;
    font-size: 15px
}

[data-v-0907bcc6] .van-button--block {
    border-radius: 8px
}

[data-v-0907bcc6] .van-button--primary {
    background-color: #07c160;
    border: 1px solid #07c160
}

[data-v-0907bcc6] .van-button--danger {
    background-color: #fa5151;
    border: 1px solid #fa5151
}

[data-v-0907bcc6] .van-button--disabled {
    background-color: #939395;
    border: 1px solid #939395
}

[data-v-0907bcc6] .van-button--plain {
    background-color: transparent;
    color: #fff
}

[data-v-0907bcc6] .van-uploader {
    height: 134px;
    width: 100%
}

[data-v-0907bcc6] .van-uploader__wrapper {
    width: 100%;
    height: 100%
}

[data-v-0907bcc6] .van-uploader__preview {
    width: 100%;
    margin: 0;
    height: 100%
}

[data-v-0907bcc6] .van-image__img,[data-v-0907bcc6] .van-uploader__preview-image {
    width: 100%;
    height: 100%
}

[data-v-0907bcc6] .van-uploader__upload {
    height: 100%;
    width: 100%;
    background-color: #1c1c1e
}

[data-v-0907bcc6] .van-uploader__input,[data-v-0907bcc6] .van-uploader__input-wrapper {
    height: 100%;
    width: 100%
}

[data-v-0907bcc6] .van-picker {
    background-color: #1c1c1e
}

[data-v-0907bcc6] .van-picker__mask {
    background-image: none
}

[data-v-0907bcc6] .van-ellipsis,[data-v-0907bcc6] .van-picker-column__item--selected {
    color: #fff
}

.van-toast--success[data-v-0907bcc6] {
    color: #07c160
}

.van-toast[data-v-0907bcc6] {
    background-color: #000000b2;
    width: auto
}

.van-toast__icon[data-v-0907bcc6] {
    font-size: 32px
}

.van-dialog[data-v-0907bcc6] {
    background-color: #252525;
    color: #fff
}

.van-dialog__message[data-v-0907bcc6] {
    color: #fff
}

.van-dialog__footer[data-v-0907bcc6] {
    border-top: .33px solid #545458;
    background-color: #252525d1
}

.van-dialog__footer .van-button[data-v-0907bcc6] {
    background-color: #252525d1
}

.van-dialog__footer .van-dialog__cancel[data-v-0907bcc6] {
    color: #fff
}

.van-dialog__footer .van-dialog__confirm[data-v-0907bcc6] {
    color: #07c160
}

[class*=van-hairline][data-v-0907bcc6]:after {
    border: none
}

[data-v-0907bcc6] input:-internal-autofill-previewed,[data-v-0907bcc6] input:-internal-autofill-selected {
    -webkit-text-fill-color: #fff!important;
    transition: background-color 5000s ease-in-out 0s!important
}

.van-popup--bottom[data-v-0907bcc6] {
    width: var(--ex-max-width);
    left: 50%;
    transform: translate(-50%)
}

.van-popup--center[data-v-0907bcc6] {
    width: calc(var(--ex-max-width) - 10vw);
    box-sizing: border-box;
    background: #1c1c1e;
    padding: 24px 16px
}

@media (min-width: 480px) {
    .van-popup--center[data-v-0907bcc6] {
        width:calc(var(--ex-max-width) - 48px)!important;
        padding: 24px 16px;
        top: 50%!important;
        left: 50%!important;
        right: auto
    }
}

.home-container[data-v-0907bcc6] {
    padding-bottom: 60px;
    margin: 0 16px
}

.user-head[data-v-0907bcc6] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px
}

.user-head .logo[data-v-0907bcc6] {
    display: flex
}

.user-head .logo .user-name[data-v-0907bcc6] {
    margin-left: 6px;
    line-height: 32px;
    color: #07c160
}

.user-head .logo .logo-photo[data-v-0907bcc6] {
    height: 32px
}

.user-head .user-header-profile-lang[data-v-0907bcc6] {
    display: flex;
    width: 80px;
    justify-content: end
}

.user-head .profile[data-v-0907bcc6] {
    font-size: 15px;
    color: #939395
}

.user-head .lang-photo[data-v-0907bcc6],.user-head .profile-photo[data-v-0907bcc6] {
    width: 32px;
    height: 32px;
    border-radius: 50%
}

.swipe[data-v-0907bcc6] {
    margin-top: 16px
}

.swipe .van-swipe-item[data-v-0907bcc6] {
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 8px
}

.swipe .van-swipe-item .swipe-img[data-v-0907bcc6] {
    border-radius: 8px;
    width: 100%
}

.notice[data-v-0907bcc6] {
    position: relative
}

.notice .all[data-v-0907bcc6] {
    position: absolute;
    right: 0;
    top: 2px
}

.notice .noticebar[data-v-0907bcc6] {
    margin: 0 -16px;
    margin-top: 16px;
    height: 20px;
    width: 90%
}

.notice .notice-swipe[data-v-0907bcc6] {
    height: 20px;
    line-height: 20px
}

.notice .van-swipe-item[data-v-0907bcc6] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

[data-v-0907bcc6] .van-notice-bar {
    font-size: 12px
}

.icon-group[data-v-0907bcc6] {
    margin-top: 16px;
    display: flex;
    justify-content: space-between
}

.icon-group .icon-item[data-v-0907bcc6] {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer
}

.icon-group .img[data-v-0907bcc6] {
    width: 44px;
    height: 44px
}

.icon-group .desc[data-v-0907bcc6] {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 510;
    color: #fff;
    text-align: center
}

.banner-double[data-v-0907bcc6] {
    display: flex;
    display: none;
    justify-content: space-between;
    margin-top: 16px
}

.banner-double .banner-item[data-v-0907bcc6] {
    width: 50%;
    background-color: #1c1c1e;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 12px
}

.banner-double .banner-item .img[data-v-0907bcc6] {
    width: 36px;
    height: 36px;
    margin-right: 8px
}

.banner-double .banner-item-right[data-v-0907bcc6] {
    text-align: left;
    color: #fff
}

.banner-double .banner-item-right .title[data-v-0907bcc6] {
    font-size: 15px;
    font-weight: 590;
    line-height: 18px
}

.banner-double .banner-item-right .desc[data-v-0907bcc6] {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px
}

.banner-double .banner-item-right .desc .s-img[data-v-0907bcc6] {
    width: 6.5px;
    height: 9px
}

.banner-double .banner-item[data-v-0907bcc6]:first-child {
    margin-right: 6px
}

.banner-double .banner-item[data-v-0907bcc6]:last-child {
    margin-left: 6px
}

.banner-one[data-v-0907bcc6] {
    margin-top: 16px;
    padding: 12px;
    background-color: #1c1c1e;
    border-radius: 8px;
    display: flex;
    justify-content: space-between
}

.banner-one .item[data-v-0907bcc6] {
    font-family: SF Pro;
    text-align: center
}

.banner-one .item .name[data-v-0907bcc6] {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #939395
}

.banner-one .item .count[data-v-0907bcc6] {
    font-size: 15px;
    font-weight: 590;
    line-height: 18px;
    color: #fff
}

.banner-one .item .change[data-v-0907bcc6] {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px
}

.banner-one .item .rise[data-v-0907bcc6] {
    color: #07c160
}

.banner-one .item .drop[data-v-0907bcc6] {
    color: #fa5151
}

.data-list[data-v-0907bcc6] {
    margin-top: 16px
}

.notice-item[data-v-0907bcc6] {
    position: relative;
    padding-right: 6px
}

.notice-item .ellipse[data-v-0907bcc6] {
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 6px
}
